/* 초기화 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    font: Normal 14px Times, "Times New Roman", "Courier New", "Gill Sans", "Gill Sans MT", "Bookman Old Style", "Bitstream Charter", "URW Bookman L", "American Typewriter", Georgia, serif;
	letter-spacing: 1px;
}

/* 상단 영역 */
header {
   /* border: 1px solid red; */
   position: fixed;
   top: 0;
   width: 100%;
   height: 100px;
   z-index: 1000;
}
h1 {
    /* border: 1px solid red; */
    padding: 0 10px;
    position: absolute;
    top: 30px;
    left: 30px;
}
h1 a {
    color: red;
    font-size: 20px;
}
h1 a:hover {
    color: blue;
    cursor: pointer;
}
nav {
    position: absolute;
    top: 43px;
    left: 230px;
}
nav li {
    /* border: 1px solid blue; */
    display: inline;
}
nav li a {
    color: red;
    padding: 10px;
}
nav li a:hover {
    color: blue;
    cursor: pointer;
}

/* 하단 영역 */
footer {
    /* border: 1px solid red; */
    height: 50px;
    position: relative;
    padding: 30px;
}
footer .link1 {
    /* border: 1px solid blue; */
    float: left;
    padding: 10px;
}
footer .link2 {
    /* border: 1px solid blue; */
    float: right;
    padding: 10px;
}
footer a {
    font-size: 20px;
    color: blue;
}
footer a:hover {
    color: red;
}
.clear {
    clear: both;
}